.App {
  max-width: 700px;
  border-radius: 30px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 350px;
  box-shadow: 0 10px 20px #333;
  border-radius: 6px;
  padding: 5px 5px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
