.Dictionary h1 {
  font-family: Consolas;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: orange;
}

.Dictionary section {
  background: lightyellow;
  font-weight: 400;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 60%;
  border-radius: 12px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 12px;
  margin-top: 5px;
}
