.Meaning h3 {
  text-transform: capitalize;
  font-family: Consolas;
  font-size: 26px;
  line-height: 1.5;
  font-weight: bold;
  color: orange;
}

.Meaning .example {
  color: #70757a;
  font-style: italic;
  margin-top: 10px;
}
